body{
    background-color: antiquewhite;
    text-align: center;
}
#name_of_user{
    padding: 10px;
    margin: 10px;
    border: 1px dashed #f60;
}
.skills-list{
    display:flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.skills-list li{
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;

}
.skills-list li:hover{
    background-color: #ccc;
}
.exprience{
    margin:20px;
    padding:10px;
    border: 1px solid #ccc;
}
table{
    width:100%;
    border-collapse: collapse;
}
td{
    padding: 10px;
    text-align: left;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}